<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.ogg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Paste Bin</title>
    <!-- TODO：仅用来测试确认效果满意后下载下来 -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/dracula.min.css"/>
    <script src="//download.wolfogre.com/highlight.pack.js"></script>
    <script src="//download.wolfogre.com/highlightjs-line-numbers.js"></script>
    <style>
        .hljs-line-numbers {
            text-align: right;
            border-right: 1px solid #ccc;
            color: #999;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <script>hljs.initHighlightingOnLoad();hljs.initLineNumbersOnLoad();</script>
</head>
<body>
<div>
    <!-- TODO：可以考虑显示自动判定的语言 -->
    <div><span th:text="${pasteEntity.name}"></span></div>
    <div><span th:text="${pasteEntity.time}"></span></div>
    <div><span th:text="${pasteEntity.language}"></span></div>
    <div><pre><code  th:class="${pasteEntity.language == 'auto' ? '' : (pasteEntity.language == 'plain' ? 'plain hljs' : pasteEntity.language)}" th:text="${content}"></code></pre></div>
    <div><span th:text="${pasteEntity.ip}"></span></div>
    <div><span th:text="${pasteEntity.location}"></span></div>
    <div><img th:src="${'/qr.png?content=' + url}"/></div>
</div>
</body>
</html>