<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.ogg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Paste Bin</title>
</head>
<body>
<div>
    <div><span th:text="${pasteEntity.name}"></span></div>
    <div><span th:text="${pasteEntity.time}"></span></div>
    <div><span th:text="${pasteEntity.language}"></span></div>
    <div><pre th:text="${content}"></pre></div>
    <div><span th:text="${pasteEntity.ip}"></span></div>
    <div><span th:text="${pasteEntity.location}"></span></div>

</div>
</body>
</html>