<!DOCTYPE html>
<html lang="zh-cn"
      xmlns:th="http://www.thymeleaf.ogg">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="在线粘贴板"/>
    <meta name="author" content="wolfogre"/>
    <title>狼煞粘贴板</title>

    <!-- TODO：之后要下载下来 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="//code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/dracula.min.css"/>
    <script src="//download.wolfogre.com/highlight.pack.js"></script>
    <script src="//download.wolfogre.com/highlightjs-line-numbers.js"></script>

    <style>
        .hljs-line-numbers {
            text-align: right;
            border-right: 1px solid #ccc;
            color: #999;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .hljs {
            white-space:pre;
        }
    </style>
    <script>hljs.initHighlightingOnLoad();hljs.initLineNumbersOnLoad();</script>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div th:replace="shared/header :: header"></div>
                    <div>
                        编号<strong><span th:text="${id}"></span></strong>，
                        由<strong><span th:text="${pasteEntity.name}"></span></strong>
                        于<strong><span th:text="${pasteEntity.time}"></span></strong>
                        在<strong><span th:text="${pasteEntity.location + '[' + pasteEntity.ip + ']'}"></span></strong>
                        粘贴，
                        所选语言为<strong><span th:text="${pasteEntity.language}"></span></strong>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#qrModal">
                            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div><pre><code th:class="${pasteEntity.language == 'auto' ? '' : (pasteEntity.language == 'plain' ? 'plain hljs' : pasteEntity.language)}" th:text="${content}"></code></pre></div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>

<div class="modal fade" tabindex="-1" role="dialog" id="qrModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">扫一扫</h4>
            </div>
            <div class="modal-body">
                <div class="text-center"><img th:src="${'/qr.png?content=' + url}"/></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>