<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.ogg">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Paste Bin</title>
</head>
<body>
<div>
    <form action="submit" method="post">
        发布者<input type="text" name="name"/><br/>
        语言
        <select name="language">
            <option th:each="it : ${languageList}" th:value="${it.getKey()}" th:text="${it.getValue()}"></option>
        </select>
        <br/>
        代码<br/>
        <textarea rows="20" cols="80" name="content"></textarea>
        <input type="submit" value="粘贴！" />
    </form>
</div>
</body>
</html>